.input-wrapper {
    border-radius: 15px;
    background-color: #fff;
    padding: 8px 25px;
    border: 0;
    outline: none;

    &::placeholder {
        color: #858585;
    }

    @media screen and (max-width: 678px) {
        width: 100%;
    }
}
