.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #fff;
    border-radius: 15px;
    border: 0;
    padding: 4px 16px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        color: #fff !important;
        background-color: #000 !important;

        svg {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(311deg) brightness(103%) contrast(102%);
        }
    }

    svg {
        width: 24px;
        height: 24px;
        fill: rgba(251, 247, 247, 0.418);
    }
}
