.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: rgba(4, 162, 9, 0.625);
    color: white;

    @media screen and (max-width: 678px) {
        flex-direction: column;
        gap: 10px;
    }

    .links {
        display: flex;
        gap: 17px;
        font-size:110%;

        .link-item {
            text-decoration: none;
            color: #FFF;
            cursor: pointer;
        }
    }

    .multi-links-wrapper {
        position: relative;

        .multi-links-submenu {
            position: absolute;
            top: 40px;
            left: 0;
            background: rgba(4, 162, 9, 0.625);
            display: flex;
            flex-direction: column;
            z-index: 99;
        }
    }
}