.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    position: relative;

    .title {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
    }

    .style {
        display: flex;
        flex-direction: row;
        gap: 10px;

        @media screen and (max-width: 678px) {
            flex-direction: column;
        }
    }

    .popup-wrapper {
        position: absolute;
        top: 61%;
        width: 200px;
        background-color: #fff;
        border-radius: 15px;
        z-index: 10;
        padding: 10px;
        left: 55%;
        transform: translateX(-40%);
        box-shadow: 5px 5px 20px 4px rgb(156, 156, 156);

        @media screen and (max-width: 678px) {
            left: 47%
        }
    }

    .select {
        position: relative;
        border-radius: 15px;
        background-color: #fff;
        padding: 8px 25px;
        border: 0;
        outline: none;
        width: 212px;
        font-size: 13.3333px;

        @media screen and (max-width: 678px) {
            width: 100%;
        }

        .typePopup {
            position: absolute;
            top: 40px;
            left: 0;
            width: 200px;
            background-color: #fff;
            color: #000;
            border-radius: 15px;
            z-index: 10;
            padding: 10px;
            box-shadow: 5px 5px 20px 4px rgb(156, 156, 156);

            p {
                cursor: pointer;
                font-size: 16px;
            }
        }
    }
}
